.container {
  background: var(--white-ffffff) 0% 0% no-repeat padding-box;
  padding: 70px 0px;
}

.container > h4 {
  padding-left: 100px;
}

.whoWeServe {
  display: flex;
  align-items: flex-start;
  padding: 80px 100px;
  gap: 150px;
}

.whoWeServe > div {
  flex-basis: 50%;
}

.imageSection {
  flex-basis: 50%;
}

.imageSection > img {
  width: 100%;
  height: 100%;
}

.textSection > img {
  width: 125px;
  height: 125px;
}

.whoWeServe:nth-child(odd) > .textSection > h4 {
  opacity: 0.3;
}
.whoWeServe:nth-child(even) {
  background: #f3faf2 0% 0% no-repeat padding-box;
}

.whoWeServe:nth-child(even) > .textSection > h4 {
  opacity: 1;
}

.textSection > h4 {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) 80px/222px
    var(--unnamed-font-family-millik);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--secondary-0a7e32);
  text-align: left;
  font: normal normal normal 80px/112px Millik;
  letter-spacing: 0px;
  color: #0a7e32;
}

.textSection > p {
  font: var(--unnamed-font-style-normal) normal
    var(--unnamed-font-weight-normal) var(--unnamed-font-size-18) /
    var(--unnamed-line-spacing-32) var(--unnamed-font-family-red-hat-display);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: left;
  letter-spacing: 0px;
  margin-top: 2rem;
}

.advangtagesContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.advantage {
  display: flex;
  align-items: flex-start;
  flex: 47%;
  gap: 11px;
  font: var(--unnamed-font-style-normal) normal bold var(--unnamed-font-size-16) /
    var(--unnamed-line-spacing-32) var(--unnamed-font-family-red-hat-display);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--primary-335f32);
  text-align: left;
  font: normal normal bold 16px/20px "Roboto";
  letter-spacing: 0px;
  text-transform: capitalize;
  opacity: 1;
}

.advantage > span:nth-child(1) {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #0a7e32;
  color: #0a7e32;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 1rem;
  }

  .container > h4 {
    padding-left: 0px;
  }

  .whoWeServe {
    padding: 1rem;
    gap: 50px;
    flex-direction: column;
  }

  .whoWeServe > div {
    flex-basis: 100%;
  }

  .imageSection > img {
    width: 100%;
    height: 100%;
  }

  .textSection > img {
    width: 45px;
    height: 45px;
  }

  .textSection > h4 {
    text-align: left;
    font: normal normal normal 30px/42px Millik;
    letter-spacing: 0px;
    color: #0a7e32;
  }

  .textSection > p {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .container {
    padding: 1rem;
  }

  .container > h4 {
    padding-left: 0px;
  }

  .whoWeServe {
    padding: 1rem;
    gap: 50px;
    flex-direction: column;
  }

  .whoWeServe > div {
    flex-basis: 100%;
  }

  .imageSection > img {
    width: 100%;
    height: 100%;
  }

  .textSection > img {
    width: 45px;
    height: 45px;
  }

  .textSection > h4 {
    text-align: left;
    font: normal normal normal 30px/42px Millik;
    letter-spacing: 0px;
    color: #0a7e32;
  }

  .textSection > p {
    margin-top: 1rem;
  }
}
